
/* Global Starts
--------------------------------------------------- */
* {
  margin: 0px;
  padding: 0px; }

section {
  padding: 80px 0; }

body {
  font-family: ralewayregular; }

h2, h3, h4 {
  font-family: ralewaybold; }
  h5, h6 {
    font-family: ralewaysemibold; }

p {
  font-family: ralewayregular; }
/* Global Ends
--------------------------------------------------- */
